/* This will be the CSS file that formats the etch a sketch webpage */

#screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.reset {
    margin-top: 10px;
    margin-bottom: 30px;

}

#mainBoard {
    border: 2px solid #888888;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 640px;
    max-width: 640px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.tile {
    
    border: 1px solid #888888;
    height: 38px;
    width: 38px;
}
